<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="js/controller.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-app="todo" class="ng-scope">
	<div class="wraper" ng-controller="todoCtrl">
		<p>Список дел</p>
		<div class="inwork">
			<modal modal="modal"></modal>
			<textarea class="writetxt" name="writetext" placeholder="Введите вашу задачу" cols="60" rows="2" ng-model="text"></textarea>
			<div class="btn" ng-click="addItems(text, tag)">Add Item</div>
			<select name="" id="addTags" ng-model="tag">
				<option ng-repeat="item in uniqueTag()">{{item}}</option>
			</select>			
			<input type="text" class="tags" placeholder="Введите тэг" ng-model="tag">
		</div>
		<todo-table data="data" items-per-page="5"></todo-table>
		<div class="tagfilterlist">	
			<a id="filterNon" ng-click="filterClear()">Clear filter</a>
			<div class="filter"><span class="filter-item" ng-repeat="item in uniqueTag()" ng-click="filterItems($event)">{{item}}</span></div>
		</div>	
	</div>
</body>
</html>